@font-face {
  font-family: 'JejuMyeongjo';
  src: url('../JejuMyeongjo-Regular.ttf') format('truetype');
  font-style: normal;
}

.body {
  background-color: #1C0A01;
  font-family: 'JejuMyeongjo';
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatBox {
  width: 50%;
  height: 80%;
  overflow: auto;
  padding: 1%;
  background-color: #1C0A01;
  border-radius: 10px;
  border: 2px solid #FFA13F;
  font-family: 'JejuMyeongjo';
  scroll-behavior: smooth;
}

.messageContainer {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.assistantMessage, .userMessage {
  border-radius: 16px;
  padding: 1rem;
  max-width: 75%;
  font-family: 'JejuMyeongjo';
}

.assistantMessage {
  background-color: #b18569;
  color: #281705;
}

.userMessage {
  background-color: #7e4a2a;
  color: #e6ba9e;
}

.sendButton {
  background-color: #b18569;
  color: #281705;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'JejuMyeongjo';
  text-transform: none;
}

.sendButton:hover {
  background-color: #502c06;
  color: #e6ba9e;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .chatBox {
    width: 70%;
    height: auto;
  }

  .assistantMessage, .userMessage {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .chatBox {
    width: 80%;
    height: auto;
  }

  .assistantMessage, .userMessage {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .chatBox {
    width: 100%;
    height: auto;
  }

  .assistantMessage, .userMessage {
    max-width: 100%;
    font-size: 14px;
  }

  .sendButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}
