@font-face {
  font-family: 'JejuMyeongjo';
  src: url('../JejuMyeongjo-Regular.ttf') format('truetype');
  font-style: normal;
}

.body {
  background-color: #1C0A01;
  font-family: 'JejuMyeongjo';
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.upButton {
  background-color: #ffa340cb;
  color: #2c1608;
  font-size: 20px;
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: 'JejuMyeongjo';
}

.chatBox {
  width: 80vw;
  height: 75vh;
  overflow: auto;
  padding: 1%;
  margin-bottom: 5vh;
  background-color: #74331c;
  border-radius: 10px;
  border: 6px solid #c5895b;
  font-family: 'JejuMyeongjo';
  scroll-behavior: smooth;
}

.messageContainer {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.assistantMessage, .userMessage {
  border-radius: 16px;
  padding: 1rem;
  max-width: 75%;
  font-family: 'JejuMyeongjo';
}

.assistantMessage {
  background-color: #c5895b;
  color: #281705;
}

.userMessage {
  background-color: #c5895b;
  color: #281705;
}

.sendButton {
  background-color: #c5895b  !important;
  color: #271605  !important;
  font-size: 15px  !important;
  border: none  !important;
  border-radius: 5px  !important;
  cursor: pointer  !important;
  font-family: 'JejuMyeongjo'  !important;
  text-transform: none  !important;
}

.sendButton:hover {
  background-color: #271605  !important;
  color: #c5895b  !important;
}

@media (max-width: 650px) {

  .upButton {
    font-size: 16px;
    padding: 10px 40px;
  }
}
