@font-face {
  font-family: 'JejuMyeongjo';
  src: url('../JejuMyeongjo-Regular.ttf') format('truetype');
  font-style: normal;
}

.body {
  background-color: #1C0A01;
  font-family: 'JejuMyeongjo';
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.upButton {
  background-color: #ffa240;
  color: #2c1608;
  font-size: 20px;
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'JejuMyeongjo';
}

.chatBox {
  width: 80vw;
  height: 80vh;
  overflow: auto;
  padding: 1%;
  margin-bottom: 5%;
  background-color: #1C0A01;
  border-radius: 10px;
  border: 2px solid #FFA13F;
  font-family: 'JejuMyeongjo';
  scroll-behavior: smooth;
}

.messageContainer {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.assistantMessage, .userMessage {
  border-radius: 16px;
  padding: 1rem;
  max-width: 75%;
  font-family: 'JejuMyeongjo';
}

.assistantMessage {
  background-color: #b18569;
  color: #281705;
}

.userMessage {
  background-color: #5e3821;
  color: #e6ba9e;
}

.sendButton {
  background-color: #b18569;
  color: #271605;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'JejuMyeongjo';
  text-transform: none;
}

.sendButton:hover {
  background-color: #5e3821;
  color: #e6ba9e;
}

@media (max-width: 650px) {

  .upButton {
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 16px;
    padding: 10px 40px;
  }

  .chatBox{
    margin-bottom: 20%;
  }
}
