@font-face {
  font-family: 'JejuMyeongjo';
  src: url('../JejuMyeongjo-Regular.ttf') format('truetype');
  font-style: normal;
}

.header {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #FFA13F;
  background-color: #1C0A01;
  font-family: 'JejuMyeongjo';
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.logoImage {
  height: 100px;
  width: auto;
}

.title {
  font-size: 150px;
}

.tagline {
  font-size: 40px;
}

.button {
  background-color: #ffa240;
  color: #2c1608;
  font-size: 20px;
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5vh;
  font-family: 'JejuMyeongjo';
}

@media (max-width: 800px) {

  .header {
    padding: 0% 5%;
  }

  .logoImage {
    margin-top: 10vh;
  }

  .title {
    font-size: 130px;
  }

  .tagline {
    font-size: 35px;
  }

  .button {
    margin-bottom: 10vh;
  }
}

@media (max-width: 650px) {

  .logoImage {
    margin-top: 7vh;
  }

  .header {
    padding: 10% 15%;
  }

  .logoImage {
    height: 80px;
    width: auto;
  }

  .title {
    font-size: 110px;
  }

  .tagline {
    font-size: 30px;
  }

  .button {
    font-size: 16px;
    padding: 10px 40px;
    margin-bottom: 7vh;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 90px;
  }

  .tagline {
    font-size: 25px;
  }

}

@media (max-width: 450px) {
  .title {
    font-size: 60px;
  }

  .tagline {
    font-size: 18px;
  }
}
